# Ignore all files by default
*

# White list only the required files
!src/
!.eslintignore
!.eslintrc.js
!.neutrinorc.js
!Aql.g4
!jest.config.js
!package.json
!tsconfig.json
!webpack.config.js
!yarn.lock
